body{
    margin: 0;
    /*background: linear-gradient(to right,*/
    /*rgb(240, 250, 245), !* Pastel Gradient Background *!*/
    /*rgb(225, 245, 235),*/
    /*rgb(235, 240, 250),*/
    /*rgb(250, 245, 240)*/
    /*);*/
    background: url('../resources/mountain.jpg') no-repeat center fixed; /* Set mountain image */
    background-size: cover;
    background-position: calc(100%) center;
    font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
    color: #000000;
}

.navigation-bar{
    background-color: rgb(19, 105, 85);
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links a { /* Adjust Navigation Link Sizes */
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    padding: 1vw;
}

/* Hover FX for Buttons + nav */
a:hover
{
    transform: scale(1.2);
    background-color: rgba(78, 142, 162, 0.24);
}


#nav-logo{ /* adjust nav bar logo */
    width: 5rem;
    height: auto;
    border-radius: 5rem;
    object-fit: cover;
}

#place-holder-logo-text{
    padding: 1rem 2rem 1rem 1rem;
    font-family: 'Optimistic Display Medium', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

h2{ /* H2 was getting shifted to the left */
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Optimistic Display N', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

@media (min-width: 768px){ /* Scale up headings for large screens */
    h2{
        font-size: 2rem;
    }
}

.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.41);
}




figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-self: center;
    border-radius: 30px;
}

@media (min-width: 768px){
    img {
        display: block;
        max-width: 50%;
    }
}

#happy-dogs-img{
    padding-top: 1rem;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-container button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 2rem;
    width: auto;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    overflow: auto;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.95);
    background-color: rgb(10, 103, 255);
    font-weight: bold;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}


#register-button{ /* call to action green to catch the eye */
    background-color: rgb(67, 184, 44);
}

.button-container button:hover{
    transform: scale(1.2);
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #116854;
}


/* Stack nav for mobile, replace with hamburger in future */
@media (max-width: 768px) { /* If smaller */
    .navigation-bar {
        flex-direction: column; /* change from row to column flex if small screen */
        align-items: center;
    }

    .nav-links {
        flex-direction: column; /* Stack links */
        align-items: center; /* Center links */
        width: 90%;
    }

    .nav-links a {
        padding: 1rem;
        width: 90%;
        text-align: center;
    }

}

