/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../resources/mountain.jpg') no-repeat center fixed; /* Set mountain image */
    background-size: cover;
}

/* Login Form */
.login-container {
    background: rgb(225, 225, 225,0.5);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    
}
/* Fix: Ensure no extra background is inherited */
.login-container * {
    background: transparent;
}
.login-container:hover {
    background-color: white;
}

/* Logo & Title */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.logo {
    width: 40px; /* Smaller logo size */
    margin-right: 10px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #116854;
    font-size: 16px;
    outline: none;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.forgot-btn {
    background-color:#116854;
    color: white;
    font-weight: bold;
}
.forgot-btn:hover {
    background-color: #187438;
}

.login-btn {
    background-color: #116854;
    color: white;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #187438;
}
/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #116854; 
}

