

#pet-profile {
    text-align: center;
}
#pet-profile img {
    border: 1px solid rgb(159, 157, 157);
    width: 200px;
    padding: 10px;
    padding-bottom: 2%;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#pet-profile h2 {
    margin-top: -50px; /*wanted it closer to the pfp*/
}
#photo-gallery {
    text-align: center;
    /*text colour?*/
}

#photo-gallery img {
    border: 1px solid rgb(159, 157, 157);
    width: 250px;
    padding: 10px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
#photo-gallery img:hover {
    transform: scale(1.3);  /*enlarge image on hover (size*1.3) = 30% larger*/
}
.image-container {
    display: flex;
    justify-content: flex-end;
}

/*FOR THE BUTTON HOVER I USED "Custom Icon CSS Button Hover":https://www.sliderrevolution.com/resources/css-button-hover-effects/

/*container so that i could take it all and shift it over to the right side of page*/
.button-container {
    display: flex;
    justify-content: flex-end;
}
button {
    border-radius: 4px;
    background-color: #e95959;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '\2192'; /*found arrow codes: https://www.toptal.com/designers/htmlarrows/arrows/right-arrow/ */
    position: absolute;
    opacity: 0;  
    top: 10px;
    right: -20px;
    transition: 0.3s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }

#info {
    max-width: 40%; /*adjust size of the box*/
    text-align: center;
    margin: 20px auto;
    background: rgb(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

#info:hover{
    background-color: white;
}

/* styling for footer 
*/
footer {
    margin-top: 50px; /*added this so that the photo hover doesnt collide*/
}