/* registration form specific styles */
.registration-container {
    max-width: 500px;
    background: rgba(225, 225, 225, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin: 50px auto;
}

.registration-container h2 {
    text-align: center;
    font-size: 24px;
    color: #116854;
    margin-bottom: 20px;
}

.registration-container .address_span {
    padding: 10px;
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.4);
    margin-bottom: 20px;
}

.registration-container .form_buttons {
    justify-content: center;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #116854;
}
/*end registration form styles */
