header {
    background-color: darkgray;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
}

header h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    margin-bottom: 0;
}

section#form {
    padding-top: 20px;
}

#activity-logs {
    background-color: #b8b5b5;
    border-radius: 12px;
    padding: 16px;
    margin-top: 10px;
}



#activity-logs table {
    width: 100%;
    border-collapse: collapse;
}

#activity-logs th,
#activity-logs td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#activity-logs th {
    background-color: #e0e0e0;
    font-weight: bold;
}

#activity-logs button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

#activity-logs button:hover {
    background-color: #0056b3;
}


footer{
    background-color:#04AA6D;
    margin: auto;
    text-align: center;
    padding : 5px;
    margin-top: 10px;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

