/* 
    TODO nav bar links make nicer or have a global nav baar design
*/
header {
    /*Add bg img of the dogs playing??*/
    background-color: rgb(141, 164, 134);
    text-align: center;
    padding: 20px;
}

header nav a { /*needed to have "a" at the end for the padding to go between each link*/
    /*margin-right: 30px; /*adds 30 pixels to the right of each link*/
    margin: 0px 30px;
}
header nav a:hover{
    background-color: #e8d4d4;
    transition: 00.3s;
}
#photo-gallery img {
    border: 1px solid rgb(159, 157, 157);
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.image-container {
    display: flex;
    justify-content: flex-end;
}

#day-log {
    max-width: 70%;
    text-align: center;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}
/*#day-log p {
    maybe get text to only go x width?
}*/
#day-log form {
    font-weight: bold;
    max-width: 80%;
    text-align: center;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
#day-log input, #day-log textarea {
    width: 60%; /*input span x amount of given area*/
    /*height: -10%;/*tried to get the text areaa to cover more vertical but i am failing lol*/
    padding: 50px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

/*FOR THE BUTTON HOVER I USED "Custom Icon CSS Button Hover":https://www.sliderrevolution.com/resources/css-button-hover-effects/

/*container so that i could take it all and shift it over to the right side of page*/
.button-container {
    display: flex;
    justify-content: flex-end;
}
button {
    border-radius: 4px;
    background-color: #2d942d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '\2192'; /*found arrow codes: https://www.toptal.com/designers/htmlarrows/arrows/right-arrow/ */
    position: absolute;
    opacity: 0;  
    top: 10px;
    right: -20px;
    transition: 0.3s;
    background-color: #2d942d;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color: #2d942d;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }
/* styling for footer 
*/
footer {
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
}