body{
    margin: 0;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma,sans-serif;
}

.navigation-bar{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(181, 181, 181, 0.22);
}

h2{ /* H2 was getting shifted to the left */
    text-align: center;
}

.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 181, 181, 0.22);
    gap: 0.5rem;
    padding-bottom: 2vw;
}

#registration-container{
    gap: 0.1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

img{
    width: 100%;
    max-width: 900px; /* max width cap for desktop enjoyers */
    height: auto;
    display: block;
    border-radius: 0.5rem;
}

#nav-logo{ /* adjust nav bar logo */
    width: 5rem;
    height: auto;
    border-radius: 5rem;
    object-fit: cover;
}

#place-holder-logo-text{
    padding: 1rem;
}


input[type="button"]{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 2rem;
    width: auto;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10vw ;
    overflow: auto;
    cursor: pointer;
}


#register-button{ /* call to action green to catch the eye */
    background-color: rgb(87, 126, 76);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.95);
    font-weight: bold;
}

.nav-links a { /* Adjust Navigation Link Sizes */
    display: inline-block;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-decoration: none;
    border-radius: 2vw;
    padding: 1vw;

}

a:hover, /* Hover FX for Buttons + nav */
#registration-container input:hover {
    background-color: rgba(43, 158, 2, 0.82);
}


/* Stack nav for mobile, replace with hamburger in future */
@media (max-width: 768px) { /* If smaller */
    .navigation-bar {
        flex-direction: column; /* change from row to column flex if small screen */
        align-items: center;
    }

    .nav-links {
        flex-direction: column; /* Stack links */
        align-items: center; /* Center links */
        width: 90%;
    }

    .nav-links a {
        padding: 1rem;
        width: 90%;
        text-align: center;
    }

}

