body{
    margin: 0;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma,sans-serif;
}

.navigation-bar{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(142, 165, 135);
}

.nav-links a { /* Adjust Navigation Link Sizes */
    display: inline-block;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border: 1px solid;
    text-decoration: none;
    border-radius: 2vw;
    padding: 1vw;
}

.button-container button:hover,
a:hover /* Hover FX for Buttons + nav */
{
    background-color: rgba(181, 181, 181, 0.24);
}


#nav-logo{ /* adjust nav bar logo */
    width: 5rem;
    height: auto;
    border-radius: 5rem;
    object-fit: cover;
}

#place-holder-logo-text{
    padding: 1rem;
}

h2{ /* H2 was getting shifted to the left */
    text-align: center;
}

.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 181, 181, 0.22);
    gap: 0.5rem;
    padding-bottom: 2vw;
}

#registration-container{
    gap: 0.1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

img{
    width: 100%;
    max-width: 1024px; /* max width cap for desktop enjoyers */
    height: auto;
    display: block;
    border-radius: 0.5rem;
}


.button-container button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 2rem;
    width: auto;
    font-size: 1rem;
    border: none;
    border-radius: 10vw ;
    overflow: auto;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}



#register-button{ /* call to action green to catch the eye */
    background-color: rgb(233, 90, 90);
    border: none;
    color: rgb(255, 255, 255, 0.95);
    font-weight: bold;
}

#register-button:hover{
    background-color: rgb(143, 166, 136);
}

/* Stack nav for mobile, replace with hamburger in future */
@media (max-width: 768px) { /* If smaller */
    .navigation-bar {
        flex-direction: column; /* change from row to column flex if small screen */
        align-items: center;
    }

    .nav-links {
        flex-direction: column; /* Stack links */
        align-items: center; /* Center links */
        width: 90%;
    }

    .nav-links a {
        padding: 1rem;
        width: 90%;
        text-align: center;
    }

}

