header {
    background-color: darkgray;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
}

header h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
nav {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 100px;
    margin: auto;
}
header nav a {
    display: block;
    margin-bottom: 4px;
    text-decoration: none;

}

nav a:last-child {
    margin-bottom: 0;
}

h4{
    margin-bottom: 0;
}

section#form {
    padding-top: 20px;
}

form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.address_span {
    margin-left: 20px;
}

.address_span label,
.address_span input {
    display: block;
    margin-bottom: 10px;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


input.submit_button:hover {
    background-color: #04AA6D;
    color: white;
}

input.cancel_button:hover {
    background-color: #f3d477;
    color: black;
}


footer{
    background-color:#04AA6D;
    margin: auto;
    text-align: center;
    padding : 5px;
    margin-top: 10px;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

